<a href="https://colab.research.google.com/github/DrakerAnderson/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME', 'AFFILIATION'.
application_df = application_df.drop(columns=['EIN', 'NAME', 'AFFILIATION'])

In [4]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

In [5]:
# Determine columns with more than 10 unique values
many_uniques = application_df.columns[application_df.nunique() > 10]

# Print the number of data points for each unique value in those columns
for column in many_uniques:
    print(f"Value counts for column '{column}':")
    print(application_df[column].value_counts())
    print()

Value counts for column 'APPLICATION_TYPE':
APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

Value counts for column 'CLASSIFICATION':
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

Value counts for column 'ASK_AMT':
ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
threshold = 100

application_types_to_replace = application_type_counts[application_type_counts < threshold].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
threshold = 100

classifications_to_replace = classification_counts[classification_counts < threshold].index


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [10]:
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'], drop_first=True)

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']

X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Convert categorical variables to dummy variables
X_train = pd.get_dummies(X_train, drop_first=True)
X_test = pd.get_dummies(X_test, drop_first=True)

# Align the columns of X_test with X_train
X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net
number_input_features = 38
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_shape=(number_input_features,))
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 100)                            3,900

 dense_1 (Dense)                       (None, 30)                             3,030

 dense_2 (Dense)                       (None, 10)                               310

 dense_3 (Dense)                       (None, 1)                                 11

 Total params: 7,251 (28.32 KB)

 Trainable params: 7,251 (28.32 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804  3s 1ms/step - accuracy: 0.6047 - loss: 0.6611
Epoch 2/100
804/804  3s 2ms/step - accuracy: 0.6553 - loss: 0.6175
Epoch 3/100
804/804  1s 2ms/step - accuracy: 0.6581 - loss: 0.6123
Epoch 4/100
804/804  1s 1ms/step - accuracy: 0.6587 - loss: 0.6096
Epoch 5/100
804/804  1s 1ms/step - accuracy: 0.6553 - loss: 0.6106
Epoch 6/100
804/804  1s 1ms/step - accuracy: 0.6577 - loss: 0.6122
Epoch 7/100
804/804  1s 1ms/step - accuracy: 0.6603 - loss: 0.6051
Epoch 8/100
804/804  1s 1ms/step - accuracy: 0.6554 - loss: 0.6083
Epoch 9/100
804/804  1s 1ms/step - accuracy: 0.6616 - loss: 0.6055
Epoch 10/100
804/804  1s 2ms/step - accuracy: 0.6550 - loss: 0.6079
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.6543 - loss: 0.6059
Epoch 12/100
804/804  3s 4ms/step - accuracy: 0.6544 - loss: 0.6093
Epoch 13/100
804/804  4s 3ms/step - accuracy: 0.6582 - loss: 0.6040
Epoch 14/100
804/804  3s 3ms/step - accuracy: 0.6590 - loss: 0.6012
Epoch 15/100
804/804  6s 4ms/step - accuracy: 0.6576 - loss: 0.6005
Epoch 16/100
804/804  3s 1ms/step - accuracy: 0.6564 - loss: 0.6039
Epoch 17/100
804/804  1s 1ms/step - accuracy: 0.6576 - loss: 0.6034
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.6595 - loss: 0.6003
Epoch 19/100
804/804  1s 2ms/step - accuracy: 0.6511 - loss: 0.6062
Epoch 20/100
804/804  1s 1ms/step - accuracy: 0.6536 - loss: 0.6026
Epoch 21/100
804/804  1s 2ms/step - accuracy: 0.6591 - loss: 0.6024
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.6623 - loss: 0.5992
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.6551 - loss: 0.6006
Epoch 24/100
804/804  2s 1ms/step - accuracy: 0.6615 - loss: 0.5997
Epoch 25/100
804/804  1s 1ms/step - accuracy: 0.6570 - loss: 0.6019
Epoch 26/100
804/804  1s 1ms/step - accuracy: 0.6667 - loss: 0.5992
Epoch 27/100
804/804  1s 2ms/step - accuracy: 0.6631 - loss: 0.5983
Epoch 28/100
804/804  1s 2ms/step - accuracy: 0.6533 - loss: 0.6011
Epoch 29/100
804/804  1s 1ms/step - accuracy: 0.6563 - loss: 0.6001
Epoch 30/100
804/804  1s 1ms/step - accuracy: 0.6547 - loss: 0.6024
Epoch 31/100
804/804  1s 2ms/step - accuracy: 0.6634 - loss: 0.5983
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.6581 - loss: 0.6005
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.6565 - loss: 0.6020
Epoch 34/100
804/804  2s 1ms/step - accuracy: 0.6604 - loss: 0.5989
Epoch 35/100
804/804  1s 2ms/step - accuracy: 0.6604 - loss: 0.5962
Epoch 36/100
804/804  1s 2ms/step - accuracy: 0.6621 - loss: 0.5976
Epoch 37/100
804/804  1s 2ms/step - accuracy: 0.6632 - loss: 0.5938
Epoch 38/100
804/804  1s 1ms/step - accuracy: 0.6630 - loss: 0.5946
Epoch 39/100
804/804  1s 2ms/step - accuracy: 0.6565 - loss: 0.6001
Epoch 40/100
804/804  1s 1ms/step - accuracy: 0.6619 - loss: 0.5992
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.6597 - loss: 0.5969
Epoch 42/100
804/804  3s 2ms/step - accuracy: 0.6600 - loss: 0.5982
Epoch 43/100
804/804  1s 2ms/step - accuracy: 0.6575 - loss: 0.6004
Epoch 44/100
804/804  1s 2ms/step - accuracy: 0.6636 - loss: 0.5951
Epoch 45/100
804/804  1s 1ms/step - accuracy: 0.6646 - loss: 0.5955
Epoch 46/100
804/804  1s 2ms/step - accuracy: 0.6624 - loss: 0.5928
Epoch 47/100
804/804  1s 1ms/step - accuracy: 0.6666 - loss: 0.5942
Epoch 48/100
804/804  1s 2ms/step - accuracy: 0.6581 - loss: 0.5977
Epoch 49/100
804/804  1s 1ms/step - accuracy: 0.6639 - loss: 0.5951
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.6642 - loss: 0.5940
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.6688 - loss: 0.5927
Epoch 52/100
804/804  1s 2ms/step - accuracy: 0.6572 - loss: 0.6009
Epoch 53/100
804/804  3s 2ms/step - accuracy: 0.6635 - loss: 0.5957
Epoch 54/100
804/804  1s 1ms/step - accuracy: 0.6656 - loss: 0.5923
Epoch 55/100
804/804  1s 1ms/step - accuracy: 0.6679 - loss: 0.5915
Epoch 56/100
804/804  1s 2ms/step - accuracy: 0.6635 - loss: 0.5916
Epoch 57/100
804/804  1s 1ms/step - accuracy: 0.6627 - loss: 0.5960
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.6643 - loss: 0.5954
Epoch 59/100
804/804  3s 2ms/step - accuracy: 0.6639 - loss: 0.5931
Epoch 60/100
804/804  2s 1ms/step - accuracy: 0.6618 - loss: 0.5939
Epoch 61/100
804/804  1s 2ms/step - accuracy: 0.6668 - loss: 0.5924
Epoch 62/100
804/804  1s 2ms/step - accuracy: 0.6665 - loss: 0.5919
Epoch 63/100
804/804  1s 2ms/step - accuracy: 0.6637 - loss: 0.5948
Epoch 64/100
804/804  1s 2ms/step - accuracy: 0.6581 - loss: 0.5917
Epoch 65/100
804/804  1s 2ms/step - accuracy: 0.6691 - loss: 0.5925
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.6662 - loss: 0.5894
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.6577 - loss: 0.5992
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.6610 - loss: 0.5956
Epoch 69/100
804/804  1s 2ms/step - accuracy: 0.6610 - loss: 0.5975
Epoch 70/100
804/804  1s 2ms/step - accuracy: 0.6577 - loss: 0.5989
Epoch 71/100
804/804  1s 2ms/step - accuracy: 0.6653 - loss: 0.5917
Epoch 72/100
804/804  2s 1ms/step - accuracy: 0.6622 - loss: 0.5960
Epoch 73/100
804/804  1s 2ms/step - accuracy: 0.6627 - loss: 0.5934
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.6630 - loss: 0.5954
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.6660 - loss: 0.5926
Epoch 76/100
804/804  1s 2ms/step - accuracy: 0.6621 - loss: 0.5945
Epoch 77/100
804/804  1s 2ms/step - accuracy: 0.6650 - loss: 0.5924
Epoch 78/100
804/804  1s 2ms/step - accuracy: 0.6655 - loss: 0.5954
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.6634 - loss: 0.5927
Epoch 80/100
804/804  3s 2ms/step - accuracy: 0.6584 - loss: 0.5944
Epoch 81/100
804/804  2s 2ms/step - accuracy: 0.6640 - loss: 0.5926
Epoch 82/100
804/804  2s 3ms/step - accuracy: 0.6602 - loss: 0.5943
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.6618 - loss: 0.5951
Epoch 84/100
804/804  2s 1ms/step - accuracy: 0.6720 - loss: 0.5861
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.6627 - loss: 0.5946
Epoch 86/100
804/804  1s 2ms/step - accuracy: 0.6621 - loss: 0.5950
Epoch 87/100
804/804  1s 2ms/step - accuracy: 0.6583 - loss: 0.5963
Epoch 88/100
804/804  1s 2ms/step - accuracy: 0.6628 - loss: 0.5916
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.6665 - loss: 0.5929
Epoch 90/100
804/804  3s 2ms/step - accuracy: 0.6619 - loss: 0.5944
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.6641 - loss: 0.5925
Epoch 92/100
804/804  1s 1ms/step - accuracy: 0.6662 - loss: 0.5891
Epoch 93/100
804/804  1s 2ms/step - accuracy: 0.6651 - loss: 0.5930
Epoch 94/100
804/804  1s 2ms/step - accuracy: 0.6596 - loss: 0.5941
Epoch 95/100
804/804  1s 1ms/step - accuracy: 0.6635 - loss: 0.5902
Epoch 96/100
804/804  1s 2ms/step - accuracy: 0.6639 - loss: 0.5910
Epoch 97/100
804/804  1s 2ms/step - accuracy: 0.6616 - loss: 0.5917
Epoch 98/100
804/804  3s 2ms/step - accuracy: 0.6598 - loss: 0.5940
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.6688 - loss: 0.5915
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.6603 - loss: 0.5943

In [17]:
# Evaluate the model using the test data 5TH ATTEMPT
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.6589 - loss: 0.6118
Loss: 0.6117925047874451, Accuracy: 0.6588921546936035

In [19]:
# Export our model to HDF5 file
application_model = 'alphabetSoupCharity_Optimized.h5'
nn.save(application_model)

print(f'Model saved to {application_model}')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to alphabetSoupCharity_Optimized.h5